:root {
    /* Colours */
    --clr-white: #FFFFFF;
    --clr-slate-100:#F1F5F9 ;
    --clr-slate-500: #64748b;
    --clr-slate-700: #334155;
    --clr-slate-900: #0f172a;
    --clr-almost-black: #030712;
    --clr-gradient-right: ;
    --clr-pink-extra-bright: #FF03C4;
    --clr-orange-bright: #F97316;
    --clr-orange-500: #F97316;
    --clr-green-bright: #A3E635;

    /* Fonts */
    --ff-code: "Code New Roman", monospace;
    --ff-body: "Reddit Mono", sans;
    --ff-heading: "Trocchi", serif;
    --ff-body-sans: "Noto Sans Display", sans-serif;
}